<div class="d-flex flex-column justify-content-center align-items-center frontpage-container py-5">
      <h2 class="text-center display-4 mb-5" style="font-family: 'Cantata One', serif;">Our Recent Customers</h2>

      <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

    <!--Slides-->
    <div class="carousel-inner" id="carousel-fixed" role="listbox">

      <!--First slide-->
      <div class="carousel-item active">
        
        <div class="row">
          <div class="col-md-4">
            <a href="/beautylash/customers/<%= postings[0]._id %>">
              <img src="<%= postings[0].image %>" class="carousel-image">
            </a>
          </div>
        
          <div class="col-md-4 clearfix d-none d-md-block">
            <a href="/beautylash/customers/<%= postings[1]._id %>">
              <img src="<%= postings[1].image %>" class="carousel-image">
            </a>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <a href="/beautylash/customers/<%= postings[2]._id %>">
              <img src="<%= postings[2].image %>" class="carousel-image">
            </a>
          </div>
        </div>
      </div>
    
      <!--First slide-->

      <!--Second slide-->
      <div class="carousel-item">
        <div class="row">
          <div class="col-md-4">
            <a href="/beautylash/customers/<%= postings[3]._id %>">
              <img src="<%= postings[3].image %>" class="carousel-image">
            </a>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <a href="/beautylash/customers/<%= postings[4]._id %>">
              <img src="<%= postings[4].image %>" class="carousel-image">
            </a>
          </div>

          <div class="col-md-4 clearfix d-none d-md-block">
            <a href="/beautylash/customers/<%= postings[5]._id %>">
              <img src="<%= postings[5].image %>" class="carousel-image">
            </a>
          </div>
        </div>
      </div>
      <!--Second slide-->

    </div>
    <!--Slides-->

    <!--Indicators-->
    <div class="carousel-indicators shift-down">
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#multi-item-example" data-bs-slide-to="1"></button>
    </div>
    <!--Indicators-->
  </div>
  <!--Carousel Wrapper-->
    
            
</div>