<div class="d-flex flex-column justify-content-center frontpage-container py-5">
      <h2 class="text-center mb-5 display-4">Book Your Timing</h2>
      
      <div class="row justify-content-start">

            <!-- render calendar -->
            <div id="calendar" class="frontpage-calendar col-10"></div>
            
            <!-- input form -->
            <div class="col-5" style="margin-left: 20px;">
                  <table class="mb-3 calendar-booking-form">
                        <tr>
                              <td><h3 class="my-4">Booking Date: </h3></td>
                              <td><input 
                                    type="text" 
                                    readonly 
                                    class="form-control-plaintext date-selection" 
                                    name="date" 
                                    id="date-selected"
                              >
                              </td>
                        </tr>
                        <tr style="font-size: 20px;">
                              <td>Prioritized Location: </td>
                              <td>East Area</td>
                        </tr>
                  </table>         
                  <hr>
                  <table id="timeslot-per-date">  
                        
                        <% for (let i = 0; i < timeslotOptions.length; i++ ) {%>
                              <tr>
                                    <form method="post" action="/calendar-booking" class="calendar-booking-form">
                                          <td class="table-timeslot-td timeslot-option" >
                                                <input 
                                                      type="text" 
                                                      readonly 
                                                      class="form-control-plaintext d-none date-selection" 
                                                      name="date" 
                                                >
                                          <input 
                                                type="text" 
                                                readonly 
                                                class="form-control-plaintext timeslot-option" 
                                                name="timeslot" value="<%= timeslotOptions[i] %>"
                                          >
                                          </td>
                                          
                                          <td class="table-timeslot-td">
                                                <select name="treatment" id="<%= timeslotOptions[i] %>" class="form-select calendar-input-size treatment-dropdown">
                                                      <option value="" selected>Select here</option>
                                                      <option value="lashlift">G.E.L. Keratin Lash lift and Tint</option>
                                                      <option value="russian volume">Russian Volume Eyelash Extension</option>
                                                      <option value="skinny volume">Skinny Volume Eyelash Extension</option>
                                                </select>
                                                <p class="not-available d-none" id="<%= timeslotOptions[i] %>">Not Available</p>
                                          </td>
                                          <% if (user) { %>
                                          <!-- If timeslot is open, show a button -->
                                          <td class="table-timeslot-td">
                                                <button type="submit" class="btn btn-success timeslot-submit" id="<%= timeslotOptions[i] %>">
                                                      Book
                                                </button>
                                          </td>
                                          <% } else {%>
                                          <td>
                                                <a 
                                                      href="/beautylash/users/login" class="ask-to-login" 
                                                      id="<%= timeslotOptions[i] %>"
                                                      >Login
                                                </a>
                                          </td>
                                          <% } %>
                                    </form>
                              </tr>
                        <% } %>
                    </table>  
                    <% if (!user) { %>  
                    <p class="smallInstruction text-center mt-4">*Please login to book your eyelash treatments</p>  
                    <% } %>     
            </div>
            <!-- input form ended -->

      </div>
</div>

