<div class="container d-flex flex-column align-items-center">
      <h1 class="mb-4">My Profile</h1>

      <table class="table table-dark table-striped" style="border: 1px solid #eaeaea;">
            <tr>
                  <td class="table-field-td">Name: </td>
                  <td><%= loginUser.full_name  %></td>
            </tr>
            <tr>
                  <td class="table-field-td">Address: </td>
                  <td><%= loginUser.address  %></td>
            </tr>
            <tr>
                  <td class="table-field-td">Postal: </td>
                  <td><%= loginUser.postal  %></td>
            </tr>
            <tr >
                  <td class="table-field-td">Phone: </td>
                  <td><%= loginUser.phone  %></td>
            </tr>
      </table>

      <a href="/beautylash/users/<%= loginUser._id %>/edit" class="btn btn-secondary frontpage-button">Edit</a>
</div>
