<%- include('../partials/head') %>
<img src="/assets/marketing/front-banner.png" class="frontpage-banner">
<div class="container mt-5 mb-5">
      
      <h1 class="text-center display-4 mb-5">Welcome to BeautyLash</h1>

      <!-- Welcome message -->
      <%- include('../partials/welcome_message') %>

      <!-- Calendar  -->
      <%- include('../calendar/calendar') %>

      <!-- Carousel -->
      <%- include('../partials/carousel') %>
      
      
</div>
<script src="/js/calendar.js"></script>
      
<%- include('../partials/foot') %>
