<%- include('../partials/head') %>
<div class="header-banner">
      <h1 class="text-center display-2 main-page-title">Welcome to Beautylash</h1>
      <p class="text-center subheader">Enhancing your natural lashes</p>
      <p></p>
</div>

<div class="container">

      <!-- Welcome message -->
      <%- include('../partials/welcome_message') %>

      <!-- Carousel -->
      <%- include('../partials/carousel') %>
      <hr class="frontpage-break">
      <!-- Calendar  -->
      <%- include('../calendar/calendar') %>
      
      
</div>
<script src="/utils/calendar.js"></script>
      
<%- include('../partials/foot') %>
