<%- include('../partials/head') %>
<div class="container d-flex flex-column align-items-center mt-5">
      <h2 class="display-5 mb-5">Enter New Post Details</h2>

      <form method="post" action="/beautylash/add-post">
 
            <%- include('../partials/input', { name: 'customerName', placeholder: 'Jessica'})  %>
            <%- include('../partials/input', { name: 'serviceName', placeholder: "GEL Lashlift"})  %>
            <%- include('../partials/input', { name: 'category', placeholder: "food, study, income"})  %>
            <%- include('../partials/input', { name: 'image', placeholder: "upload your image"})  %>
            <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>
<%- include('../partials/foot') %>