<%- include('../partials/head') %>

<div class="container mt-5 mb-5">
      <h2 class="text-center mb-5 display-5"><%= item.service %></h2>
      <div class="d-flex justify-content-center flex-wrap showpage-width">
            <div class="">
                  <img src="<%= item.image %>" class="show-image mb-3 border">
                  <div class="d-flex justify-content-center">
                        <a href="/beautylash/customers"
                              class="btn btn-secondary"
                              style="height: 38px; margin-right: 20px;"                            >Back</a>
                        
                        <form>
                              <input 
                                    type="text" readonly 
                                    class="d-none" 
                                    name="liked" value="<%= item.id %>"
                              >
                              <button class="btn btn-secondary frontpage-button mr-3">Like</button>
                        </form>
                  </div>
            </div>

      </div>
</div>

<%- include('../partials/foot') %>
