<%- include('../partials/head') %>
      <h2 class="text-center my-5 display-5"><%= item.service %></h2>

      <div class="d-flex bd-highlight mb-3 justify-content-center align-items-center">
            
            <img src="<%= item.image %>" class="show-image mb-3 mr-3 border" id="image-model">

            <div class="d-flex flex-column justify-content-start flex-wrap detail-panel-div">
            
                  <h3 class="mb-3">What makes our <%= info.category %> different?</h3>
                  <p class="my-3" style="font-size: 18px;"><%= info.detail %></p>
                  <hr class="product-info-seperator">
                  <p class="my-3" style="font-size: 18px;"><span style="font-weight: 600;">Use case: </span><%= info.use_case %></p>
                  <hr class="product-info-seperator">

                  <div class="d-flex bd-highlight mb-3 justify-content-start">
                        <a href="#calendar"
                        class="btn btn-success my-3"
                        style="height: 38px; margin-right: 20px; max-width: 180px"                            
                        >Book Timeslot</a>
      
                        <a href="/beautylash/customers"
                        class="btn btn-secondary my-3"
                        style="height: 38px; margin-right: 20px; max-width: 80px"                            
                        >Back</a>
                  </div>
            </div>
      </div>
      <%- include('../calendar/calendar.ejs') %>

      


<script src="/utils/calendar.js"></script>
<%- include('../partials/foot') %>
